<div class="padding">

    <super-navbar>
        <super-navbar-title>
            Today, September 22
        </super-navbar-title>
    </super-navbar>

    <div class="card">
        <div class="item item-divider header--purple">
           Weather
         </div>
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
        </div>
    </div>

    <div class="list card">
        <div class="item item-divider header--purple">
           News
         </div>
			   
		   <div class="item item-avatar">
		       <img src="./nebraska.jpg">
		       <h2>Football: Nebraska drops Wildcats in Big Ten opener</h2>
		       <p>November 05, 1955</p>
			   
		     </div>

           <a href="#" class="item item-text-wrap">
            Commitee plans town hall meetings to hear student views on residential life
           </a>

           <a href="#" class="item item-text-wrap">
               Student groups will not leave Norris before fall 2018, admin says
           </a>

           <a href="#" class="item item-text-wrap">
               Black Student Experience task force members hope report will result in actual change
           </a>
    </div>

    <div class="card">
        <div class="item item-divider header--purple">
           Sports
         </div>
        <div class="item item-text-wrap">
            This is a h Card which contains an item that has wrapping text.
        </div>
    </div>

    <div class="card">
        <div class="item item-divider header--purple">
           Food and Dining
         </div>
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
        </div>
    </div>

    <div class="card">
        <div class="item item-divider header--purple">
           Upcoming
         </div>
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
        </div>
    </div>

</div>
