.supersonic-navbar-mock {
  background-color: #401B6A !important;
  text-align: center;
  font-weight: 600;
}

.header--purple {
    background-color: #401B6A !important;
    color: #fff;
    font-size: 24px;
    padding: 15px;
}

.weather-card {
    background-color: #401B6A !important;
    color: #fff;
}

.weather-item{

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;

}

.news-item {
    width: 100%;
    white-space: nowrap;
}
