<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- Build this using "gulp javascript" -->
    <script src="js/all.js"></script>
</head>
<body ng-app="brief">
<ion-pane ng-controller="indexController">
    <ion-header-bar class="bar-royal">
        <h1 class="title">{{ today }}</h1>
    </ion-header-bar>
    <ion-content>

        <!-- Weather Card -->
        <div ng-controller="WeatherController" id="weather" style="background-image:img/Clouds.jpg">
            <div class="row"  >
                <div class="col">
                    <h1 style="font-size:100px;">{{ weather.main.temp }}&deg;</h1>
                </div>
                <div class="col">
                    <p><strong>High:</strong> {{ weather.main.temp_max }}&deg;</p>
                    <p><strong>Low:</strong> {{ weather.main.temp_min }}&deg;</p>
                    <p><strong>Humidity:</strong> {{ weather.main.humidity }}</p>
                </div>
            </div>
        </div>

        <!-- News Card -->
        <div ng-controller="NewsController" class="card list">
            <div class="item item-divider card-header">
                News
            </div>
            <a ng-repeat="article in news" class="item" ng-click="openLink(article.link)">
                <h2 class="news-headline">{{article.title}}</h2>
            </a>
        </div>

        <!-- Upcoming Events Card -->
        <div ng-controller="UpcomingController" class="card list">
            <div class="item item-divider card-header">
                Upcoming Events
            </div>
            <a ng-repeat="event in upcoming" class="item" ng-click="openLink(article.data.link)">
                <h2>{{event.data.name}}</h2>
                <h3>{{event.data.time}}</h3>
                <h3>{{event.data.location}}</h3>
            </a>
        </div>

    </ion-content>
</ion-pane>
</body>
</html>
