<div class="padding">

    <super-navbar>
        <super-navbar-title>
            Today, September 22
        </super-navbar-title>
    </super-navbar>

    <div class="card">
        <div class="item item-divider header--purple">
           Weather
         </div>
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
        </div>
    </div>

    <div class="list card">
        <div class="item item-divider header--purple">
           News
         </div>
           <a href="#" class="item">
            <div class="news-item">
                Football: Nebraska drops Wildcats in Big Ten opener
            </div>
           </a>

           <a href="#" class="item">
            Committee plans town hall meetings to hear student views on residential life
           </a>

           <a href="#" class="item">
               Student groups will not leave Norris before fall 2018, admin says
           </a>

           <a href="#" class="item">
               Black Student Experience task force members hope report will result in actual change
           </a>
    </div>

    <div class="card">
        <div class="item item-divider header--purple">
           Sports
         </div>
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
        </div>
    </div>

    <div class="card">
        <div class="item item-divider header--purple">
           Food and Dining
         </div>
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
        </div>
    </div>

    <div class="card">
        <div class="item item-divider header--purple">
           Upcoming
         </div>
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
        </div>
    </div>

</div>
